{% extends 'Navuser.html' %} 
{%block title%} Account {%endblock%}

{%block body%}
<h2>Account</h2>
</div>
<input class="general_button" type="change balance" value="Change Balance"></input>
</div>
<input class="general_button" type="submit item" value="Submit Item"></input>
</div>
<input class="general_button" type="submmit bid" value="Submit Bid"></input>
</div>
<input class="general_button" type="complaint" value="Make Complaint"></input> 
</div>
<input class="general_button" type="rate user" value="Rate User"></input> 
</div>
<input class="general_button" type="transactions" value="Transaction History"></input> 
</div>
<input class="general_button" type="account info" value="Account Info"></input> 
</div>
<input class="general_button" type="change info" value="Change Info"></input>
</div>
<input class="general_button" type="browse items" value="Browse Items"></input> 
</div>
<input class="general_button" type="apply to be OU" value="OU Application"></input>  
</div>
<input class="general_button" type="submit report" value="Submit Report"></input> 
{%endblock%}