{% extends 'Navuser.html' %} 
{%block title%} Account {%endblock%}

{%block body%}
<h2>Account</h2>
</div>
<input class="general_button" type="button" value="Change Balance"></input>
</div>
<input class="general_button" type="button" value="Submit Item"></input>
</div>
<input class="general_button" type="button" value="Submit Bid"></input>
</div>
<input class="general_button" type="button" value="Make Complaint"></input> 
</div>
<input class="general_button" type="button" value="Rate User"></input> 
</div>
<a href= "/history/"+user.token> <input class="general_button" type="button" value="Transaction History"></input> </a> 
</div>
<input class="general_button" type="button" value="Account Info"></input> 
</div>
<input class="general_button" type="button" value="Change Info"></input>
</div>
<input class="general_button" type="button" value="Browse Items"></input> 
</div>
<input class="general_button" type="button" value="OU Application"></input>  
</div>
<input class="general_button" type="button" value="Submit Report"></input> 
{%endblock%}