{% extends 'NavUser.html' %} 
{%block title%} Admin Panel {%endblock%}

{%block body%} 
<h1>Admin</h1>

<a href = "/procApp/{{user.token}}">
<input class="general_button" type="submit" name= "Process Applications" value="Process Applications"></input>
</a>
<a href = "/procItems/{{user.token}}">
<input class="general_button" type="submit" name= "Process Items" value="Process Items"></input>
</a>
<a href = "/warnings/{{user.token}}">
<input class="general_button" type="submit" name= "Warnings" value="Warnings"></input>
</a>
<a href = "/stats/{{user.token}}"">
<input class="general_button" type="submit" name= "Statistics" value="Statistics"></input>
</a>

{%endblock%}