{% extends 'NavUser.html' %} 
{%block title%} Change Info {%endblock%}

{%block body%} 
<div class="auth">
    <form class = "inputForm" method="POST">
        <div>
            <h1 class = "auth_title">Change Account Info</h1>
            {% if change == "None" %}
                <input class="general_button" type="submit" name="submit" value="Change Name"></input>
                <input class="general_button" type="submit" name="submit" value="Change Email"></input>
                <input class="general_button" type="submit" name="submit" value="Change Address"></input>
                <input class="general_button" type="submit" name="submit" value="Change Phone"></input>
                <input class="general_button" type="submit" name="submit" value="Change Credit Card Number"></input>
                <input class="general_button" type="submit" name="submit" value="Change Password"></input>
            {% else %}

                {% if change == "Name"%}
                    <p>New Name: </p>
                    <input type="text" name="Name" placeholder="New Name:"></input>
                {% elif change == "Email"%}
                    <p>New Email: </p>
                    <input type="text" name="Email" placeholder="Email:"></input>
                    <p>Confirm Email: </p>
                    <input type="text" name="confirmEmail" placeholder="Confirm:"></input>
                {% elif change == "Phone"%}
                    <p>New Phone Number: </p>
                    <input type="text" name="Number" placeholder="Phone Number:"></input>
                {% elif change == "Card"%}
                    <p>New Credit Card Number: </p>
                    <input type="text" name="Card" placeholder="Credit Card:"></input>
                {% elif change == "Address"%}
                    <p>New Address: </p>
                    <input type="text" name="Address" placeholder="Address:"></input>
                {% elif change == "Password"%}
                    <p>Enter old Password: </p>
                    <input type="password" name="oldPass" placeholder="Old Password:"></input>
                    <p>New Password: </p>
                    <input type="password" name="newPass" placeholder="Password:"></input>
                    <p>Confirm Password: </p>
                    <input type="password" name="confirmPass" placeholder="Confirm:"></input>
                {% endif %}
                <input class="general_button" type="submit" name="submit" value="Submit Changes"></input>
            {% endif %}
        </form>
</div>
{%endblock%}