{% extends 'NavBase.html' %} 
{%block title%} Home {%endblock%}

{%block body%} 

<form class="search_bar" method="POST">
    <input type="text" id="searchItem" name="searchItem" placeholder="Search...">
</form>
<div class="items_list">
    {%if items.count() == 0%}
        <p>No item available '{{inputSearch}}'</p>
    {% else %}
    <h2> Latest Items: </h2>
    {%for item in items%}
        <a href="/item/{{item.title}}">
            <div class="brownse_item">
                <div class="brownse_item_desc">
                    <h4>{{item.title}}</h4>
                    <h5>Cost Range: {{item.price}}</h5>
                </div>
                <p>Posted on: {{item.time}}</p>
            </div>
        </a>    
    {%endfor%}
    {%endif%}
</div>
{%endblock%}