<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "utf-8" />
        <meta name="viewport" content = "width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{url_for('static',filename='general.css')}}">
        <title>New Item</title>
    </head>

    <body>  
        <a href="/browser/{{user.email}}">
            <image class="logo" src="{{url_for('static',filename='ebaylogo.png')}}">
        </a>
        <nav class="navbar">
            <a href="/browser/{{user.email}}">Home</a>
            <a href="/account/{{user.email}}">Account</a>
            <a href="/">Logout</a>
        </nav>
        <h3>Enter Item:</h3>
        <form method = "POST" enctype="multipart/form-data">
            <div>
                <label for="title">Enter the title:</label>
                <input type="text" placeholder="Title" name="title" id="title" autocomplete="off"></input>
            </div>
            <div>
                <label for="price">Enter the price:</label>
                <input type="text" placeholder="Price" name="price" id="price" autocomplete="off"></input>
            </div>
            <div>
                <label for="keywords">Descriptive keywords:</label>
                <input type="text" placeholder="Keywords" name="keywords" id="keywords" autocomplete="off"></input>
            </div>
            <div>
                <label for="image">Upload an image:</label>
                <input type="file" name="image"></input>
            </div>
            <input type="submit" value="Submit"></input>
        </form>
    </body>
    </html>