<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "utf-8" />
        <meta name="viewport" content = "width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{url_for('static',filename='general.css')}}">
        <title>Home</title>
    </head>

    <body>  
            <a href="/browser/{{user.email}}">
                <image class="logo" src="{{url_for('static',filename='ebaylogo.png')}}">
            </a>
            <nav class="navbar">
                <a href="/browser/{{user.email}}">Home</a>
                <a href="/account/{{user.email}}">Account</a>
                <a href="/">Logout</a>
            </nav>
            <form class="inputForm item">
                {% for item in items %}
                    <div class="container">
                        <h2 class="auth_title">{{item.title}}</h1>
                        
                        <div class="section">
                            <img src="data:;base64,{{img}}">
                            <p>Total Cost: ${{item.priceRange}}</p>
                            <p>Descriptions: {{item.keywords}}</p>
                        </div>
                        <input type="text" class="bid_label" autocomplete="off">
                        <input type="button" class="general_button" value="Bid">
                        <input type="button" class="general_button" value="Report">
                    </div>
                {% endfor %}
            </form>
    </body>

</html>