{% extends 'NavUser.html' %}
{%block title%}Item{%endblock%}
    {%block body%}
            <form class="inputForm item" method = "POST">
                    <div class="container">
                        <h2 class="auth_title">{{item.title}}</h1>
                        
                        <div class="section">
                            <img src="data:;base64,{{img}}">
                            <p>Total Cost: ${{item.price}}</p>
                            <p>Descriptions: {{item.keywords}}</p>
                        </div>
                        {% if user.token != item.user %}
                            <input type="text" class="bid_label" name="bid" id = "bid" autocomplete="off" placeholder="Amount in dollars">
                            <input type="submit" class="general_button" name = "submit" value="Bid">
                            <input type="submit" class="general_button" name = "submit" value="Report Item">
                            <input type="submit" class="general_button" name = "submit" value="Complaint about User">
                            <input type="text" class="bid_label" name="description" id = "description" autocomplete="off" placeholder="Complaint/Report description">
                        {%else%}
                            <input type="submit" class="general_button" name = "submit" value="Sell">
                        {% endif %}
                    </div>
            </form>
        {%endblock%}
        
