{% extends 'NavBase.html' %} 
{%block title%} Login {%endblock%}

{%block body%} 
<div class="auth">
    <form class = "inputForm" method="POST">
    <h1 class="auth_title">Login</h1>
    <div class="section">
    <div class="section_auth">    
        <label for="username">Username</label> 
        <input type="text" name="username" id="username" autocomplete="off"></input>
    </div>
    <div class="section_auth">  
        <label for="password">Password</label>  
        <input type="password" name="password" id="password" autocomplete="off"></input>
         
    </div>
</div>
    <input class="general_button" type="submit" value="Login"></input>
    </form>
</div>
{%endblock%}