<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "utf-8" />
        <meta name="viewport" content = "width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{url_for('static',filename='general.css')}}">
        <title>{%block title%}NavBase{% endblock %}</title>
    </head>

    <body>  
        <a href="/browser/{{user.email}}">
            <image class="logo" src="{{url_for('static',filename='ebaylogo.png')}}">
        </a>
        <nav class="navbar">
            <a href="/browser/{{user.email}}">Home</a>
            <a href="/account/{{user.email}}">Account</a>
            <a href="/">Logout</a>
        </nav>

        {%block body%} 
        Body of the page
        {%endblock%}
    </body>
</html>