<!DOCTYPE html>
<html>
    <head> 
        <meta charset = "utf-8" />
        <meta name="viewport" content = "width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{url_for('static',filename='general.css')}}">
        <title>{% block title%}Title{% endblock  %}</title>
    </head>

    <body>  
            <a href="/browser/{{user.token}}">
                <image class="logo" src="{{url_for('static',filename='ebaylogo.png')}}">
            </a>
            <nav class="navbar">
                <a href="/browser/{{user.token}}">Home</a>
                {% if user.super == False %}
                    <a href="/account/{{user.token}}">Account</a>
                {%else%}
                    <a href="/admin/{{user.token}}">Admin</a>
                {% endif %}
                
                <a href="/">Logout</a>
            </nav>
            {%with messages = get_flashed_messages(with_categories = true)%}    
                {%if messages%}
                    {%for category,message in messages%}
                        {%if category=="error"%}
                            <div class="alert_error alert" role = "alert">
                                {{message}}
                            </div>
                        {% else %}
                            <div class="alert_success alert" role = "alert">
                                {{message}}
                            </div>
                        {%endif%}
                    {%endfor%}
                {%endif%}
            {%endwith%}
                
        {% block body %}
                        
        {% endblock  %}
    </body>

</html>