{% extends 'NavBase.html' %} 
{%block title%} Sign Up {%endblock%}

{%block body%} 
<div align = center class="signup">
    <h3>Sign Up</h3>
    <form method="post">
        <label for="name">Full name</label> 
        <input type="text" name="name" id="name" placeholder="Enter your name: "></input>
        <br></br>
        <label for="email">Email </label>
        <input type="email" name="email" id="email" placeholder="Enter email: "></input> 
        <label for="email_ver">Confirm email </label>
        <input type="email" name="email_ver" id="email_ver" placeholder="Confirm email:: "></input>
        <br></br>
        <label for = "password">Password </label>
        <input type="password" name="password" id="password" placeholder="Enter password: "></input>
        <label for = "password_ver">Confirm Password </label>
        <input type="password" name="password_ver" id="password_ver" placeholder="Confirm password: "></input>
        <br></br>
        <label for = "phone">Phone Number </label>
        <input type="text" name = "phone" id = "phone" placeholder="Enter number: "></input>
        <label for = "address">Current Address</label>
        <input type="text" name="address" id="address" placeholder="Enter address: "></input>
        <br></br>
        <label for = "Credit_card">Credit Card Number</label> 
        <input type="text" name="Credit_card" id="Credit_card" placeholder="Enter number: "></input>
        <br></br>

        <input type="submit" value="Submit Form"></input>
    </form>
</div>
{%endblock%}