{% extends 'NavBase.html' %} 
{%block title%} Sign Up {%endblock%}

{%block body%} 
<br>
<h3>Sign Up</h3>
    <form>
        Name: <br><input type="text" name="nm"></input></br>
        Email: <br><input type="text" name="email"></input> </br>
        Confirm email<br><input type="text" name="email_ver"></input></br>
        Password: <br><input type="text"></input></br>
        Confirm Password: <br><input type="text" name="password"></input></br>
        Phone Number: <br><input type="text" name = "password_ver"></input></br>
        Address: <br><input type="text" name="address"></input></br>
        Credit Card Number: <br><input type="text" name="Credit_card"></input></br>
        <input type="submit"></input>
    </form>
</br>
{%endblock%}