{% extends 'NavBase.html' %} 
{%block title%} Stats {%endblock%}

{%block body%}
        <h1>Statistics:</h1>
        <div class="section">    
            <div class="section_auth">
                <label for="total item apps">Total Item Applications: {{itemsApp}}</label>
            </div> 
        </div> 
    </form>
        <div>
            <div class="section">    
                <div class="section_auth">
                    <label for="total user apps">Total User Applications: {{userApp}}</label>
                </div> 
            </div> 
        </form>
        <div>
            <div class="section">    
                <div class="section_auth">
                    <label for="total items">Total Items: {{users}} </label>
                </div> 
            </div> 
        <div>
            <div class="section">    
                <div class="section_auth">
                    <label for="total users">Total Users: {{items}} </label>
                </div> 
            </div> 
{%endblock%}