{% extends 'NavBase.html' %} 
{%block title%} User Application Statistics {%endblock%}

{%block body%}
<form class = "inputForm" method="POST">
    <div>
        <h1 class = "auth_title">User Application Statistics</h1>
        <div class="section">    
            <div class="section_auth">
                <label for="total user apps">Total User Applications </label>
                <input type="total user apps" name="total user apps" id="total user apps" autocomplete="off" placeholder="Enter Total User Applications: "></input>
</div> 
{%endblock%}
