{% extends 'NavBase.html' %} 
{%block title%} Item Application Statistics {%endblock%}

{%block body%}
<form class = "inputForm" method="POST">
    <div>
        <h1 class = "auth_title">Item Application Statistics</h1>
        <div class="section">    
            <div class="section_auth">
                <label for="total item apps">Total Item Applications </label>
                <input type="total item apps" name="total item apps" id="total item apps" autocomplete="off" placeholder="Enter Total Item Applications: "></input>
</div> 
{%endblock%}