{% extends 'NavUser.html' %}
{% block title %}Transaction{% endblock  %}

{% block body %}
<h4>{{transaction.title}}</h4>
<h5>Buyer: {{transaction.buyer_name}}</h5>
<h5>Seller: {{transaction.seller_name}}</h5>
<p>Sold on: {{transaction.time}}</p>
<form method="POST">
    <div>
        <label for="quantity">Rate the interaction(1-5):</label>
        <input type="number" id="quantity" name="quantity" min="1" max="5">
        <input type="submit" name="submit" value="Rate"></input>
    </div>
    <div>
    <label for="complaint">Submit Complaint:</label>
    <input type="text" id="complaint" name="complaint">
    <input type="submit" name="submit" value="Complaint"></input>
    </div>
</form>
{% endblock %}